<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSCameraUsageDescription</key>
        <string>アプリに表示・使用するための写真や動画を撮影する目的でリクエストします。</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>アプリに表示・使用するための写真をライブラリから選択する目的でリクエストします。</string>
    </dict>
</plist>
